**Lambda functions with one argument**

In [2]:
# Normal function

def add(x):
    return(x+10)

add(10)

20

In [3]:
# How many arguments are there?  x 
# What you are returning?        x+10

# <function_name>= lambda <argument_name>:<return_value>

add=lambda x:x+10  # function is ready
add(10)

20

In [5]:
def mul(num):
    return(num*num)

mul(5)

25

In [6]:
mul=lambda num:num*num
mul(5)

25

In [7]:
def cube(val):
    return(val*val*val)

cube(3)

27

In [8]:
cube=lambda val:val*val*val
cube(4)

64

**lambda functions with two arguments**

In [9]:
def sum1(a,b):
    return(a+b)

sum1(10,20)

30

In [10]:
# <function_name>= lambda <argument_name>:<return_value>

sum1=lambda a,b:a+b

sum1(10,20)

30

In [11]:
def avg(a,b,c):
    return((a+b+c)/3)

avg(10,20,30)

20.0

In [12]:
avg=lambda a,b,c:(a+b+c)/3
avg(10,20,30)

20.0

In [13]:
def avg(a,b,c=100):
    return((a+b+c)/3)

avg(10,20)

43.333333333333336

In [19]:
round(43.3333,2)

43.33

In [17]:
Avg = lambda a,b,c=100: round((a+b+c)/3,2)
Avg(10,20)

43.33

**lambda function with if-else**

In [18]:
def greater(num1,num2):
    if num1>num2:
        return(num1)
    
    else:
        return(num2)
    
    
greater(50,100)

100

In [20]:
#<function_name>=lambda <arg1,arg2>:<if_output> <if_condition> else <else_ouput>

greater=lambda num1,num2: num1 if num1>num2 else num2

greater(100,200)

200

**lambda functions with list**

In [23]:
#################################### M-1#############################
list1=['hyd','mumbai','benguluaru']

# output: ['Hyd','Mumbai','Benguluru']

output=[]

for i in list1:
    output.append(i.capitalize())
    
output

['Hyd', 'Mumbai', 'Benguluaru']

In [24]:
############################### M-2##############################
list1=['hyd','mumbai','benguluaru']

output=[i.capitalize() for i in list1]

output

['Hyd', 'Mumbai', 'Benguluaru']

In [26]:
l1= ['hyd','mumbai','bengaluru']
op =[]
for i in l1:
    val=i.capitalize()
    op.append(val)
print(op)

['hyd', 'mumbai', 'bengaluru']

In [ ]:
###################### M-3 ################## with lambda

lambda i:i.capitalize()       # iterate the values

fun1=lambda x: x+10            user providing 

fun2=lambda num : num*num

fun3=lambda a,b : a+b

fun4= lambda num1,num2: num1 if num1>num2 else num2

In [ ]:
# lambda <var>: <o/p>,<list1/str/tuple>

$map$

In [35]:
list1= ['hyd','mumbai','bengaluru']

lambda i: i.capitalize(),list1

#<function __main__.<lambda>(i)>

def abc(i):
    retutn(i.capitalize())

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'bengaluru'])

In [37]:
list1= ['hyd','mumbai','bengaluru']

list(map(lambda i: i.capitalize(),list1))

# step-1: create a lambda function: lambda i: i.capitalize()
# step-2: add your iterator 

# step1,step2:  lambda i: i.capitalize(),list1

# step-3: mapping of both step-1 and step-2

#            map(step1,step2)
#            map(lambda i: i.capitalize(),list1)

# step4: you need to save the result again in a list or tuple

#        list(map(step1,step2))
#        list(map(lambda i: i.capitalize(),list1))

['Hyd', 'Mumbai', 'Bengaluru']

In [28]:
# what is meant by iterator

# which data types you can iterate

# which means which data types you can print by using for loop?

string1='python'

#for i in string1: print(i)

list1=[1,2,3,4]

for i in list1: print(i)

tuple1=(1,2,3,4)

1
2
3
4

In [29]:
a=10
print(a)

10

In [34]:
val=reversed('python')

for i in val:
    print(i)

n
o
h
t
y
p

In [40]:
list1=[1,2,3,4]

#output: [1,4,9,16]

# create a normal function if it has a single value

#def square(num):
    #return(num*num)

#square(10)

[num*num for num in list1]

list(map(lambda num:num*num,list1))

[1, 4, 9, 16]

In [41]:
eval(input())

[1,2,3,4]

[1, 2, 3, 4]

$filter$

In [ ]:
list1=['hyd','Biryani','Buvaneshwar','rasagulla']

# output: ['Biryani','Buvaneshwar','rasagulla']

list(map(lambda i:len(i)>3,list1))

# it is condition ========= filter

In [45]:
list1=['hyd','Biryani','Bhuvaneshwar','rasagulla']
list(filter(lambda i:len(i)>3,list1))

['Biryani', 'Bhuvaneshwar', 'rasagulla']

In [43]:
l2=['biryani','hyd','Buvaneswar','rasagulla']
list(map(lambda i:len(i)>3,l2))

[True, False, True, True]

In [44]:
list1=['hyd','biryani','odisha','buvaneshwar','rasgulla']
list(map(lambda i: len(i)>3 ,list1))

[False, True, True, True, True]

In [ ]:
# i ======= > i.capitalize()
for i in list1:
    print(i.capitalize())
# i ========= > i*i

for i in list1:
    print(i*i)
# i ========= > len(i)>3
for i in list1:
    if len(i)>3:
        print(i)

In [54]:
list1=['hyd','byriyani','bhubaneswar','rasgola']

# return the items which are has length greater than 3
for i in list1:
    if len(i)>3:
        print(i)
        
        
# step-1:  
list(filter(lambda i : len(i)>3,list1))

byriyani
bhubaneswar
rasgola

['byriyani', 'bhubaneswar', 'rasgola']

In [55]:
#list1=['hyd','byr#yani','bhub#neswar','ras#ola']
# return the output those has # symbol

list1=['Hy#d','Biry#ani','Bhuvan#eshwar','rasagulla']
list(filter(lambda i:'#' in i,list1))

list(filter(lambda i: '#' in i, list1))

list(map(step1,step2))

['Hy#d', 'Biry#ani', 'Bhuvan#eshwar']

In [ ]:
list1=[1,2,3,4,5,6]

#output: [{'even':[2,4,6],'odd':[1,3,5]}]
#output: [{1:'odd',2:'even'}]

In [70]:
list1=[1,2,3,4,5,6]
list(map(lambda i: {i:'odd'} if i%2==0 else {i:'even'},list1))

[{1: 'even'}, {2: 'odd'}, {3: 'even'}, {4: 'odd'}, {5: 'even'}, {6: 'odd'}]

In [66]:
l3=[1,2,3,4,5,6,7,8]
d1={}
d1['even']=list(filter(lambda i:i%2==0,l3))
d1['odd']=list(filter(lambda i:i%2!=0,l3))
d1

{'even': [2, 4, 6, 8], 'odd': [1, 3, 5, 7]}

In [67]:
list1=[1,2,3,4,5,6]
even=list(filter(lambda i:i%2==0 ,list1))
odd=list(filter(lambda i:i%2!=0,list1))
even,odd

([2, 4, 6], [1, 3, 5])

In [ ]:
coursera ======= 4k ========== DL ===== 

coursera ======= audit ====== they will not charge =======