- How do we read?

- type

- len

- max

- min

- concatenation (add two list)

- subtract two list

- multiply two list

- divide two list

- index

- slice

- mutable 

- list methods

In [1]:
# array of elements stored in square brackets
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [2]:
list2=['A','B','C','D']
list2

['A', 'B', 'C', 'D']

In [3]:
list3=['Apple',1234]
list3

['Apple', 1234]

In [4]:
list4=['A',1,2.6,10+30j]
list4

['A', 1, 2.6, (10+30j)]

- list is a heterogeneous property

- any kind of data type elements we can store in the form of list

In [5]:
list5=[100,100,100]
list5

[100, 100, 100]

- list elements can be duplicated

- which means duplicate elements are allowed

In [6]:
list6=['A','a']
list6

['A', 'a']

In [7]:
list7=['hai how are you',
       [1,2,3]]
list7

['hai how are you', [1, 2, 3]]

- list in list also it can take

- array of elements stored in square brackets

- list is a heterogeneous property

- any kind of data type elements we can store in the form of list

- list elements can be duplicated

- which means duplicate elements are allowed

- list in list also it can take

In [8]:
type(list1)

list

In [9]:
#list=[1,2,3]
#list
#sum=10
#max=
#min

[1, 2, 3]

In [10]:
list1

[1, 2, 3, 4]

$len$-$max$-$min$-$sum$

In [14]:
print(list1)
print(len(list1))  # 4
print(max(list1))  # 4
print(min(list1))  # 1
print(sum(list1))  # 1+2+3+4=10

[1, 2, 3, 4]
4
4
1
10

In [21]:
print(list2)
print(len(list2))  # 4
print(max(list2))  # 4
print(min(list2))  # 1
print(sum(list2))  # error

['A', 'B', 'C', 'D']
4
D
A

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
print(list3)
print(len(list3))  # 2
#print(max(list3))  # error
#print(min(list3))  # error
#print(sum(list3))  # error

['Apple', 1234]
2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
print(list4)
print(len(list4))  # 4
#print(max(list4))  # error
#print(min(list4))  # error
#print(sum(list4))  # error

['A', 1, 2.6, (10+30j)]
4

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
print(list5)
print(len(list5))  # 3
print(max(list5))  # 100
print(min(list5))  # 100
print(sum(list5))  # 300

[100, 100, 100]
3
100
100
300

In [35]:
print(list6)
print(len(list6))  # 2
print(max(list6))  # a
print(min(list6))  # A
print(sum(list6))  #

['A', 'a']
2
a
A

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
print(list7)
print(len(list7))  # 2
#print(max(list7))  # error
#print(min(list7))  # error
#print(sum(list7))  # error

['hai how are you', [1, 2, 3]]
2

$concatenation$

In [39]:
print(list1)
print(list2)

[1, 2, 3, 4]
['A', 'B', 'C', 'D']

In [41]:
list_con=list1+list2

In [42]:
print(list1)
print(list2)
print(list_con)

[1, 2, 3, 4]
['A', 'B', 'C', 'D']
[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [45]:
string1='welcome'
string2=string1.replace('l','L')

In [46]:
string1,string2

('welcome', 'weLcome')

In [ ]:
list1-list2 ========= > error
list1*list2 ========= > error
list1/list2 ========= > error

$multiply$ $string$ with $integer$

In [48]:
3*list1   # list1+list1+list1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

$in$

In [49]:
list2

['A', 'B', 'C', 'D']

In [53]:
'A' in list2
'B' in list2
'C' in list2
'D' in list2

#i in list2

True

In [ ]:
# whenever you are reading in opertaor
# iterate the loop(for/while) and print the elements

In [54]:
for i in list2:
    print(i)

A
B
C
D

In [55]:
i=0
while <condition>:
    print(i)
i+=1

In [ ]:
# If you want to deal with while
# we required numbers

In [56]:
for i in list1:
    print(i)

1
2
3
4

$Index$

In [59]:
list2

['A', 'B', 'C', 'D']

In [ ]:
# python index start with zero

A  B   C  D
0  1   2  3

In [63]:
list2[0],list2[1],list2[2],list2[3]

('A', 'B', 'C', 'D')

In [ ]:
# print A B C D 
# using for loop index method
# using while loop

In [67]:
for i in range(len(list2)):
    print(i,list2[i])

0 A
1 B
2 C
3 D

In [68]:
# i in range(len(list2))
i=0
while i<len(list2):
    print(i,list2[i])
    i=i+1

0 A
1 B
2 C
3 D

In [ ]:
-4  -3  -2   -1
A    B   C    D
0   1    2    3

In [ ]:
####################### For /while##########################
# The postive index of 'A' is 0
# The postive index of 'B' is 1

####################### For /while##########################
# The negative index of 'A' is -1
# The negative index of 'B' is -2

####################### For /while##########################
# The postive index of 'A' is 0 and negtaive index is -4
# The postive index of 'B' is 1 and negative index is =3

In [69]:
for i in range(len(list2)):
    print("The Negative Index of {} is {} and positive index is {}".format(list2[i],(i-len(list2)),i))

The Negative Index of A is -4 and positive index is 0
The Negative Index of B is -3 and positive index is 1
The Negative Index of C is -2 and positive index is 2
The Negative Index of D is -1 and positive index is 3

In [70]:
for i in range(len(list2)):
    print('the negative index {} is {}'.format(list2[i],i-len(list2)))

the negative index A is -4
the negative index B is -3
the negative index C is -2
the negative index D is -1

In [73]:
for i in range(len(list2)):
    print("The Negative index of",list2[i],"is",i-len(list2))

The Negative index of A is -4
The Negative index of B is -3
The Negative index of C is -2
The Negative index of D is -1

In [74]:
list1 = [1, 2, 3, 4]
i  = 0
while i <list1[-1]:
    print(list1[i])
    i=i+1

1
2
3
4

In [75]:
for i in range(len(list2)):
    print("the positive index {} is {} and negative index {} is {}".format(list2[i],i,list2[i],i-len(list2)))

the positive index A is 0 and negative index A is -4
the positive index B is 1 and negative index B is -3
the positive index C is 2 and negative index C is -2
the positive index D is 3 and negative index D is -1

In [64]:
list1=['A','B','C','D']
i=0
while i<=3:
    
    print(list1[i])
    i=i+1

A
B
C
D

In [76]:
a=[1,2,3,4]
for i in a:
    print("positive index of {} is {} and negative index is{}".format(i,a.index(i),a.index(i)-len(a)))

positive index of 1 is 0 and negative index is-4
positive index of 2 is 1 and negative index is-3
positive index of 3 is 2 and negative index is-2
positive index of 4 is 3 and negative index is-1

**check the mutable condition**

In [77]:
list1

['A', 'B', 'C', 'D']

In [78]:
list1[0]='AAAA'

In [80]:
list1[3]

'D'

- List is mutable

- string is immutable

In [95]:
list1=[[[[[1,2,3,4]]]]]

# retrive the index 4
# what is the index of 4?
# in the list1 how many elements are there: 1
list1[0][0][0][0][3]

4

In [102]:
list2=[[[[['A','B',[1,2,3,['Cherry']]]]]]]

list2[0][0][0][0][2][3][0]

'Cherry'

In [103]:
list1=[[1,2,3]]
# print 1,2,3  using for loop
l1=[[1,2,3]]
for i in l1[0]:
    print(i)

1
2
3

In [104]:
list1=[[1,2,3]]
for i in range(len(list1)):
    print(list1[0])

[1, 2, 3]

In [107]:
l3 =[[1,2,3]] # len=1
for i in range(len(l3)):
    print(l3[0][i])

1

In [106]:
list1=[[1,2,3]]
for i in range(len(list1[0])):
    print(i)

0
1
2

In [110]:
list_con[2:7:2]

[3, 'A', 'C']

$slice$

In [1]:
list1=['A','B','C','D','E','F',1,2,3,4,5,6]

In [ ]:
list1[2:11:2] # Pos
list1[2:11:-2] # np
list1[2:-11:2] # np
list1[2:-11:-2] # p
list1[-2:11:2] # p
list1[-2:-11:2] #np
list1[-2:-11:-2]# p
list1[-2:11:-2]#np

In [3]:
#Wap ask the user print the elements which has length more than 4
# list1=['Hyderbad','Delhi','Chennai','Blr']
# output: Hyderbad,Delhi,chennai
list1=['Hyderbad','Delhi','Chennai','Blr']
for i in list1:
    if len(i)>=4:
        print(i)

Hyderbad
Delhi
Chennai

In [4]:
list1=['Hyderbad','Delhi','Chennai','Blr']
for i in range(len(list1)):
    if len(list1[i])>=4:
        print(list1[i])

Hyderbad
Delhi
Chennai

- in operators ===== direct element

- range() requires a number inside the bracket

- that number indicates index of the element

In [6]:
# WAP ask the user to print the elements which are having '#' inthe element
list1=['Hyderb#d','Delhi','Chenn#i','Blr']
for i in list1:
    if '#' in i:
        print(i)

Hyderb#d
Chenn#i

In [9]:
list1=['Hyderb#d','Delhi','Chenn#i','B#lr']
for i in range(len(list1)):
    if '#' in list1[i]:
        print(list1[i])

Hyderb#d
Chenn#i
B#lr

In [8]:
i=0
while i<len(list1):
    if '#' in list1[i]:
        print(list1[i])
    i=i+1

Hyderb#d
Chenn#i

In [11]:
#WAP ask the user print elements which are starting with 'H'
list1=['Hyderb#d','Delhi','Chenn#i','B#lr','haridwar']
# startwith 
for i in range(len(list1)):
    if list1[i].lower()[0]=='h':
        print(list1[i])

Hyderb#d
haridwar

In [13]:
for i in list1:
    if i.lower().startswith('h'):
        print(i)

Hyderb#d
haridwar

In [ ]:
list1=['omkar.nallagoni@gmail.com',
       'kareem.pasha@gmail.com',
       'santhosh.kadam@gmail.com']

# print the second names : nallagoni,pash,kadam

In [14]:
list3 = ['omkar.nallagoni@gmail.com','karim.pasha@gmail.com','santhosh.kadam@gmail.com']

for i in list3:
    print(i[i.find('.')+1:i.find('@')])

nallagoni
pasha
kadam

In [15]:
list1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santosh.kadam@gmail.com']
for i in list1:
    print(i[i.find('.')+1:i.find('@')])
    
# Understand the pattern
# the second name is between . and @

nallagoni
pasha
kadam

In [20]:
'omkar.nallagoni@gmail.com'.find('.')
'kareem.pasha@gmail.com'.find('.')

6

In [29]:
str1='kk.purnima@gmail.com'
str1[str1.find('.')+1:str1.find('@')]

'purnima'

In [37]:
for i in list1:
    print(i)
    sec_name=i[i.find('.')+1:i.find('@')]
    print(sec_name)
    alter_sec_name=i.split('@')[0].split('.')[1]
    print(alter_sec_name)

omkar.nallagoni@gmail.com
nallagoni
nallagoni
kareem.pasha@gmail.com
pasha
pasha
santosh.kadam@gmail.com
kadam
kadam

In [38]:
#find first name in gmail
list2=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santosh.kadam@gmail.com']
for i in list2:
    print(i[:i.find('.')])

omkar
kareem
santosh

In [36]:
str1='kareem.pasha@gmail.com'
str1.split('@')[0].split('.')[1]

['kareem', 'pasha']

$list$-$methods$

In [39]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$append$

In [42]:
list1=[100,200,300]
# now you want append a new element
#[100,200,300,400]
list1.append(400)
# ansswer will save automatically in oroginal list
list1
# append method will append the data at last index

[100, 200, 300, 400]

In [48]:
l1=[]
l1.append([20,30,40])
l1.append('python')
l1

[[20, 30, 40], 'python']

In [ ]:
# suppose if you want save the output in a seperate list==== > append

In [50]:
list1=['Hyderbad','Delhi','Chennai','Blr']
for i in list1:
    if len(i)>=4:
        print(i)

Hyderbad
Delhi
Chennai

In [51]:
list1=['Hyderbad','Delhi','Chennai','Blr']
city_list=[]
for i in list1:
    if len(i)>=4:
        city_list.append(i)
city_list

['Hyderbad', 'Delhi', 'Chennai']

In [52]:
# WAP ask the user to print the elements which are having '#' inthe element
list1=['Hyderb#d','Delhi','Chenn#i','Blr']
city_list1=[]
for i in list1:
    if '#' in i:
        city_list1.append(i)
        
city_list1

['Hyderb#d', 'Chenn#i']

In [54]:
list1=['Hyderb#d','Delhi','Chenn#i','B#lr','haridwar']
city_list2=[] 
for i in range(len(list1)):
    if list1[i].lower()[0]=='h':
        city_list2.append(list1[i])
city_list2

['Hyderb#d', 'haridwar']

In [57]:
'a.b@gma.com'.split('.')[0]

'a'

In [59]:
list1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santosh.kadam@gmail.com']
first,second=[],[]
for i in list1:
    first.append(i.split('.')[0])
    second.append(i[i.find('.')+1:i.find('@')])
    
first,second

(['omkar', 'kareem', 'santosh'], ['nallagoni', 'pasha', 'kadam'])

In [60]:
def names(list1):
    first,second=[],[]
    for i in list1:
        first.append(i.split('.')[0])
        second.append(i[i.find('.')+1:i.find('@')])
    return(first,second)
list1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santosh.kadam@gmail.com']
names(list1)

(['omkar', 'kareem', 'santosh'], ['nallagoni', 'pasha', 'kadam'])

In [64]:
# wap ask the user get 10 random numbers between 10 to 50
# get the even and odd number from those 10 random numbers

# take two empty list : even and odd
# save the results in even and odd 
import random
even,odd=[],[]
for i in range(10):
    num=random.randint(1,50)
    if num%2==0: 
        even.append(num)
    else:
        odd.append(num)
even,odd

([12, 16, 30, 34, 24], [35, 41, 39, 7, 43])

**List Comprehenshion**

In [67]:
list1=['Hyderbad','Delhi','Chennai','Blr'] # qn

city_list=[]
for i in list1:
    if len(i)>=4:
        city_list.append(i)
city_list

# start:you have taken an empty list
# end: appending the results

output=[i for i in list1 if len(i)>=4]
output

# [<output> <for loop> <if_condition>]

['Hyderbad', 'Delhi', 'Chennai']

In [68]:
# WAP ask the user to print the elements which are having '#' inthe element
list1=['Hyderb#d','Delhi','Chenn#i','Blr']
city_list1=[]
for i in list1:
    if '#' in i:
        city_list1.append(i)
        
city_list1

########################################################
output1=[i for i in list1 if '#' in i]
output1

['Hyderb#d', 'Chenn#i']

In [69]:
list1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santosh.kadam@gmail.com']
output=[i[i.find('.')+1:i.find('@')] for i in list1]
output

['nallagoni', 'pasha', 'kadam']

In [71]:
square=[]
for i in range(5):
    square.append(i*i)
square
#################################

output2=[i*i for i in range(5)]
output2

[0, 1, 4, 9, 16]

In [72]:
list1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santosh.kadam@gmail.com']
first,second=[],[]
for i in list1:
    first.append(i.split('.')[0])
    second.append(i[i.find('.')+1:i.find('@')])
    
first,second

############################################
o1_f=[i.split('.')[0] for i in list1]
o2_s=[i[i.find('.')+1:i.find('@')] for i in list1]
o1_f,o2_s

(['omkar', 'kareem', 'santosh'], ['nallagoni', 'pasha', 'kadam'])

In [82]:
#if else

even_odd=[]
for i in range(10):
    if i%2==0:
        even_odd.append('even: {}'.format(i))
        
    else:
        even_odd.append('odd: {}'.format(i))
        
even_odd


###################################################
output3=[i if i%2==0  else 'odd' for i in range(10)]
output3

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [ ]:
[<output> <for loop> <if condition>] # For with if

[<if_out>  <if_cond>  else  <else_op>  <for>] # for with if-else

In [2]:
list1=['Apple','Ball','Cat','Dog','Elephant']
# if len(elements) > 3 print it is good
# else: print it is better
for i in list1:
    if len(i)>3:
        print('{} good'.format(i))
    else:
        print('{} better'.format(i))

Apple good
Ball good
Cat better
Dog better
Elephant good

In [4]:
list1=['Apple','Ball','Cat','Dog','Elephant']
items=[]
for i in list1:
    if len(i)>3:
        items.append('{} good'.format(i))
    else:
        items.append('{} better'.format(i))
    
items

['Apple good', 'Ball good', 'Cat better', 'Dog better', 'Elephant good']

In [6]:
#[<if_out>  <if_cond>  else  <else_op>  <for>] # for with if-else
items1=['{} good'.format(i)  if len(i)>3 else '{} better'.format(i) for i in list1]
items1

['Apple good', 'Ball good', 'Cat better', 'Dog better', 'Elephant good']

In [7]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$clear$

In [8]:
list1=[1,2,3,4]
list1.clear()
# clear will clear all the elements

In [9]:
list1

[]

$delete$

In [11]:
# del is not a method
list1=[100,200,300]

del list1[0]

In [12]:
list1

[200, 300]

$pop$-$remove$

- Explain me difference between pop-remove-del

In [13]:
list1=['A','B','C','D','E']

In [14]:
list1.pop()  
# default argument index=-1
# which is last element
# if you not provide any value , it will delete the last element
# it is also return which value deleted
# and it saves result in the same list

'E'

In [15]:
list1

['A', 'B', 'C', 'D']

In [16]:
list1.pop(3) # here 3 is index=3 0 1 2 3   i.e .D

'D'

In [17]:
list1=['A','B','C','D','E']

In [18]:
list1.remove('B')

# It takes element of the list directly
# it will not return any thing
# it also saves the result in same list

In [19]:
list1

['A', 'C', 'D', 'E']

In [21]:
list2=[i for i in range(1,100,3)]
list2

# from this list2 i want to delete number 55
#list2.pop(<index>)
list2.remove(55)

In [22]:
list2   # remove

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97]

$index$

In [27]:
list1

['A', 'C', 'D', 'E']

In [26]:
list1.index('D')

2

In [28]:
list1.pop(list1.index('D'))

'D'

In [29]:
list1

['A', 'C', 'E']

In [34]:
string1='kl.rahul@lucknow.com,virat.kohli@blr.com,rohit.sharma@mumbai.com'
# extract the values and append in a list
# firstname=['kl','viart','Rohit']
# seconname=['rahul','kohli','sharma']
# comany=['lucknow','blr','mumbai']

(['kl', 'virat', 'rohit'], ['rahul', 'kohli', 'sharma'])

In [44]:
l1=['kl.rahul@pune.com','virat.kohli@blr.com','rohit.sharma@mumbai.com']
fname=[]
sname=[]
wname=[]
for i in l1:
    fname.append(i.split('.')[0])
    sname.append(i[i.find('.')+1:i.find('@')])
    wname.append(i[i.find('@')+1:i.find('.',i.find('.')+1)])
fname,sname,wname

(['kl', 'virat', 'rohit'],
 ['rahul', 'kohli', 'sharma'],
 ['pune', 'blr', 'mumbai'])

In [70]:
string1='kl.rahul@lucknow.com,virat.kohli@blr.com,rohit.sharma@mumbai.com'
list1=string1.split(',')
f_name,s_name,c_name=[],[],[]
for i in list1:
    f_name.append(i.split('.')[0])
    s_name.append(i.split('.')[1].split("@")[0])
    c_name.append(i.split('.')[1].split("@")[1])

In [69]:
f_name=[i.split('.')[0] for i in list1]
s_name=[i.split('.')[1].split("@")[0] for i in list1]
c_name=[i.split('.')[1].split("@")[1] for i in list1]

(['kl', 'virat', 'rohit'],
 ['rahul', 'kohli', 'sharma'],
 ['lucknow', 'blr', 'mumbai'])

- append

- clear

- pop

- remove 

- index 

- del ( is not a method)

$copy$

In [73]:
# clear and copy difference

In [74]:
list1

['kl.rahul@lucknow.com', 'virat.kohli@blr.com', 'rohit.sharma@mumbai.com']

In [76]:
list1=[1,2,3,4,4]
list2=list1.copy()
list1.clear()
print(list1),print(list2)

[]
[1, 2, 3, 4, 4]

(None, None)

$Extend$

In [83]:
# take two lists
list1=['A','B','C']
list2=[1,2,3]
list1.extend(list2)

In [84]:
list1

['A', 'B', 'C', 1, 2, 3]

In [85]:
list1=['A','B','C']
list2=[1,2,3]
list2.extend(list1)
list2

[1, 2, 3, 'A', 'B', 'C']

In [86]:
list1=['A','B','C']
list1.append([1,2,3])
list1

['A', 'B', 'C', [1, 2, 3]]

$zip$

In [88]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]

#list1 =========== i
# list2 ========== j
for i,j in zip(list1,list2):
    print('{} age is {}'.format(i,j))

Ram age is 25
Raheem age is 30
Robert age is 35

$sort$

In [90]:
list1=['B','D','A','C']
list1.sort() # reverse=False
list1

# If nothing mentioned means ascending order
# argument reverese it default as False

['A', 'B', 'C', 'D']

In [91]:
list1=['B','D','A','C']
list1.sort(reverse=True)
list1

['D', 'C', 'B', 'A']

$sorted$

In [95]:
list1=['B','D','A','C']
print(sorted(list1))
print(sorted(list1,reverse=True))
print(list1)

['A', 'B', 'C', 'D']
['D', 'C', 'B', 'A']
['B', 'D', 'A', 'C']

- in the sort method results will save in a same list

- in the sorted keyword results will not save

In [ ]:
max()
min()
print()
type()
len()
zip()
ord()
chr()
zip()
sorted()


list1.append()
list1.index()

$join$

In [98]:
string1='kl.rahul@lucknow.com,virat.kohli@blr.com,rohit.sharma@mumbai.com'
list1=string1.split(',') 
list1
# When we split the string, the output will save in list format

['kl.rahul@lucknow.com', 'virat.kohli@blr.com', 'rohit.sharma@mumbai.com']

In [102]:
'=====>'.join(list1)
# if you want join a list of elements in a single string

'kl.rahul@lucknow.com=====>virat.kohli@blr.com=====>rohit.sharma@mumbai.com'

In [103]:
list1=['A','P','P','P','L','E']
''.join(list1)

'APPPLE'

$insert$

- get the difference between append -extend-insert